<?xml version="1.0" encoding="UTF-8"?>
<settings>

  <!--
    =============================================================================
     MuleSoft Settings.xml
    =============================================================================
     Projeto   : github-actions
     Autor     : Leonel Dorneles Porto
     Email     : leoneldornelesporto@outlook.com.br
     Telefone  : +55 53 99180-4869
    =============================================================================
     Descrição :
       - Define as credenciais para se conectar ao Anypoint Exchange (via 'servers'),
         além de perfis (profiles) distintos para ambientes (sandbox, dev, qa, prod).
       - Cada profile sobrescreve propriedades importantes, como <env>, <region>,
         <cloudhub.replicas>, etc.
    =============================================================================
     Referências:
       - Perfis do Maven: https://maven.apache.org/settings.html
       - Mule Maven Plugin: https://docs.mulesoft.com/mule-runtime/latest/mule-maven-plugin
       - Connected App Scopes: https://help.salesforce.com/s/articleView?id=001119708&type=1
    =============================================================================
  -->

  <pluginGroups>
    <pluginGroup>org.mule.tools</pluginGroup>
  </pluginGroups>

  <servers>
    <!-- connected app's required scopes: https://help.salesforce.com/s/articleView?id=001119708&type=1 -->
    <server>
      <id>Repository</id>
      <!-- Deve coincidir com o <serverId> configurado no pom.xml -->
      <username>~~~Client~~~</username>
      <!-- Usamos uma concatenação de client.id e client.secret, no formato `id~?~secret` -->
      <password>${client.id}~?~${client.secret}</password>
    </server>
  </servers>

</settings>
